In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.colors import LinearSegmentedColormap
from scipy import stats
plt.style.use('ggplot')
%matplotlib inline

In [2]:
nor_counts=pd.read_table('normalized_counts.txt')
col_new=['geneID', 'geneLength', 'geneProduct','185-1','WT-1','185-2','185-3','WT-2','WT-3']
nor_counts.columns=col_new
nor_counts=nor_counts[['geneID','geneLength','geneProduct','WT-1','WT-2','WT-3','185-1','185-2','185-3']]
nor_counts['WT_mean']=np.round(np.apply_along_axis(np.mean,1,nor_counts[['WT-1','WT-2','WT-3']]),2)
nor_counts['185_mean']=np.round(np.apply_along_axis(np.mean,1,nor_counts[['185-1','185-2','185-3']]),2)

In [3]:
gene_id_1=pd.read_table('Gene_id_1_1000.txt')
gene_id_2=pd.read_table('Gene_id_1001_2000.txt')
gene_id_3=pd.read_table('Gene_id_2001_3000.txt')
gene_id_4=pd.read_table('Gene_id_3001_3031.txt')
gene_id_main=[gene_id_1,gene_id_2,gene_id_3,gene_id_4]
gene_id_main=pd.concat(gene_id_main)
gene_id_main=gene_id_main.drop(['Batch1','Genome Name','Unnamed: 7','Genome ID'],axis=1)

In [4]:
merged=nor_counts.merge(gene_id_main,how='left',left_on='geneID',right_on='Gene ID')
df=merged.drop(['Gene Product Name','Gene ID','geneLength'],axis=1)
col_order=['geneID','Locus Tag','Gene Symbol','geneProduct','WT-1', 'WT-2', 'WT-3', '185-1', '185-2',
       '185-3', 'WT_mean', '185_mean' ]
df=df[col_order]

In [5]:
df.head(5)

,geneID,Locus Tag,Gene Symbol,geneProduct,WT-1,WT-2,WT-3,185-1,185-2,185-3,WT_mean,185_mean
0,650468844,Clo1313_0001,dnaA,chromosomal replication initiator protein DnaA,95.68,68.16,33.52,12.22,13.38,14.04,65.79,13.21
1,650468845,Clo1313_0002,NaN,"DNA polymerase III, beta subunit (EC 2.7.7.7)",91.89,65.97,34.76,7.39,13.24,7.93,64.21,9.52
2,650468846,Clo1313_0003,NaN,S4 domain protein YaaA,31.74,23.39,12.33,6.55,7.83,12.05,22.49,8.81
3,650468847,Clo1313_0004,recF,DNA replication and repair protein RecF,21.31,13.09,9.20,1.22,0.00,1.12,14.53,0.78
4,650468848,Clo1313_0005,NaN,hypothetical protein,221.06,242.11,267.31,103.35,82.30,130.65,243.49,105.43

### Add fold change columns to the data frame

In [6]:
df['log2(WT)']=np.round(np.log2(df['WT_mean']),2)
df['log2(185)']=np.round(np.log2(df['185_mean']),2)
df['log2(FC)']=np.round(df['log2(185)']-df['log2(WT)'],2)

C:\Users\miluo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log2
  """Entry point for launching an IPython kernel.
C:\Users\miluo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log2

In [7]:
# remove genes with detectable transcription, which leads to numeric instability in log2 fold change computation.
# this filtered data frame should be used in picking out the top 10 gene list
# df_filtered=df[np.logical_and(df['WT_mean']>2,df['185_mean']>2)]
# df_filtered=df_filtered[['geneID','Locus Tag','Gene Symbol','geneProduct','WT_mean','185_mean','log2(FC)']]

In [8]:
# remove rows with nan or inf output in log2(FC)
row_nan_inf=np.logical_or(np.isnan(df['log2(FC)']),np.isinf(df['log2(FC)']))
df=df[~row_nan_inf]

In [9]:
df.head(5)

,geneID,Locus Tag,Gene Symbol,geneProduct,WT-1,WT-2,WT-3,185-1,185-2,185-3,WT_mean,185_mean,log2(WT),log2(185),log2(FC)
0,650468844,Clo1313_0001,dnaA,chromosomal replication initiator protein DnaA,95.68,68.16,33.52,12.22,13.38,14.04,65.79,13.21,6.04,3.72,-2.32
1,650468845,Clo1313_0002,NaN,"DNA polymerase III, beta subunit (EC 2.7.7.7)",91.89,65.97,34.76,7.39,13.24,7.93,64.21,9.52,6.00,3.25,-2.75
2,650468846,Clo1313_0003,NaN,S4 domain protein YaaA,31.74,23.39,12.33,6.55,7.83,12.05,22.49,8.81,4.49,3.14,-1.35
3,650468847,Clo1313_0004,recF,DNA replication and repair protein RecF,21.31,13.09,9.20,1.22,0.00,1.12,14.53,0.78,3.86,-0.36,-4.22
4,650468848,Clo1313_0005,NaN,hypothetical protein,221.06,242.11,267.31,103.35,82.30,130.65,243.49,105.43,7.93,6.72,-1.21

### Compute adjusted p-value (Welch-t-test, Benjamini-Hochberg correction)
Using unpooled error to calculate the unadjusted p-value
There are several ways to adjust p-values, Bonferroni correction will simply take the unadjusted p-value and times the number of hypothesis. Alternative, FDR-adjusted, aka Benjimini & Hochberg correction, can also be used. For multiple comparison with large m, Bonferroni tend to be too severe. Benjimini & Hochberg method is used herein.

In [10]:
def calculate_mean_and_variance(df):
    """
    Imput df as a pandas dataframe (m x n).
    Each row of df is a different gene of interest, each column of df is a repeat measurement.
    Output mean (m x 1) and variance (m x 1).
    """
    df_np=np.array(df)
    m=df.shape[0]
    n=df.shape[1]
    df_mean=np.apply_along_axis(np.mean,1,df_np).reshape((m,1))
    df_var=np.sum((df_np-df_mean)**2,axis=1)/n
    return df_mean,df_var

In [11]:
def calculate_t_stat(interest,control):
    """
    Take in two dataframes of same shape (m x n)
    Each row of df is a different gene of interest, each column of df is a repeat measurement.
    Calculate the t-stastic (m x 1) and degree of freedom (m x 1), assuming equal sample size, unequal variancies (Welch t-test)
    Output in the form of numpy array.
    """
    assert interest.shape==control.shape
    m=interest.shape[0]
    n=interest.shape[1]
    int_mean,int_var=calculate_mean_and_variance(interest)
    ctl_mean,ctl_var=calculate_mean_and_variance(control)
    variance=np.sqrt((int_var/n)+(ctl_var/n)).reshape((m,1))
    t_stat=(int_mean-ctl_mean)/variance
    denom=np.power(variance,4)
    term1=(int_var/n)**2/(n-1)
    term1=term1.reshape((m,1))
    term2=(ctl_var/n)**2/(n-1)
    term2=term2.reshape((m,1))
    deg_of_free=denom/(term1+term2)
    return t_stat,deg_of_free

In [12]:
def calculate_p_value(interest,control):
    """
    Take in two dataframes of same shape (m x n), compute unadjusted two-sided p_value (m x 1) using Welch-t-test,
    assuming unequal variance.
    """
    t_stat,deg_of_free=calculate_t_stat(interest,control)
    p_value=stats.t.sf(np.abs(t_stat),deg_of_free)*2
    return p_value

In [13]:
def calculate_adjusted_p_value(interest,control):
    """
    Take in two dataframes of same shape (m x n), compute unadjusted two-sided p_value (m x 1) using Welch-t-test,
    and adjusted p_value (m x 1) using Benjamini-Hochberg method.
    """
    p_value=calculate_p_value(interest,control)
    m=len(p_value)
    p_tmp=pd.DataFrame(p_value,columns=['p-value'])
    p_tmp=p_tmp.sort_values('p-value')
    p_rank=stats.rankdata(p_tmp['p-value'])
    p_test=p_tmp['p-value']*m/p_rank
    p_adj=np.zeros(m)
    for i in range(m):
        p_adj[i]=np.min([np.min(p_test[i:]),1])   #double min, the outer min ensures p value doesn't exceed 1.
    p_tmp['p-adjusted']=p_adj
    p_tmp=p_tmp.sort_index()
    return np.round(p_tmp['p-value'],2),np.round(p_tmp['p-adjusted'],2)

In [14]:
results=df[['geneID','Locus Tag','Gene Symbol','geneProduct','WT_mean','185_mean','log2(FC)']]
results=results.reset_index(drop=True)
results['p-value'],results['p-value adj.']=calculate_adjusted_p_value(df[['185-1','185-2','185-3']],df[['WT-1','WT-2','WT-3']])

In [15]:
results.head(5)

,geneID,Locus Tag,Gene Symbol,geneProduct,WT_mean,185_mean,log2(FC),p-value,p-value adj.
0,650468844,Clo1313_0001,dnaA,chromosomal replication initiator protein DnaA,65.79,13.21,-2.32,0.07,0.17
1,650468845,Clo1313_0002,NaN,"DNA polymerase III, beta subunit (EC 2.7.7.7)",64.21,9.52,-2.75,0.05,0.14
2,650468846,Clo1313_0003,NaN,S4 domain protein YaaA,22.49,8.81,-1.35,0.09,0.18
3,650468847,Clo1313_0004,recF,DNA replication and repair protein RecF,14.53,0.78,-4.22,0.04,0.13
4,650468848,Clo1313_0005,NaN,hypothetical protein,243.49,105.43,-1.21,0.00,0.03

### Apply style to the data.frame

In [16]:
def color_red_green(val):
    if type(val)==float and val > 0:
        color='red'
    else:
        color='green'
    return 'color: %s'% color

In [17]:
def add_style(df):
    return df.style.applymap(color_red_green,pd.IndexSlice[:,['log2(FC)']])

In [18]:
add_style(results.head(10))

### Check the fold change in key metabolic pathways

In [19]:
def check_pathway_transcription(file,df):
    pathway=pd.read_table(file)
    pathway=pathway[['Gene ID','Locus Tag','Gene Product Name']]
    out=pathway.merge(df,how='left',on='Locus Tag')
    out=out[['Locus Tag','Gene Product Name','log2(FC)','p-value adj.']]
    return add_style(out)

In [20]:
check_pathway_transcription('ketoacid_pathway(PWY-7111).txt',results)

In [21]:
check_pathway_transcription('mixedacid_pathway(FERMENTATION-PWY).txt',results)

In [22]:
check_pathway_transcription("reductiveTCAcycle(reductive TCA cycle I).txt",results)

In [23]:
check_pathway_transcription('glycolysis(glycolysis I).txt',results)

In [24]:
# check_pathway_transcription('valine_biosynthesis.txt',df)

### List of most differentially transcribed genes

In [25]:
up_reg=results.sort_values('log2(FC)',ascending=False)
up_reg=up_reg[up_reg['p-value adj.']<=0.05]
up_reg=up_reg.reset_index(drop=True)
add_style(up_reg[['geneProduct','Locus Tag','log2(FC)','p-value adj.']].head(10))

In [26]:
down_reg=results.sort_values('log2(FC)')
down_reg=down_reg[down_reg['p-value adj.']<=0.05]
down_reg=down_reg.reset_index(drop=True)
add_style(down_reg[['geneProduct','Locus Tag','log2(FC)','p-value adj.']].head(10))

### Making a heat map (creating a customary color map)
After some thought, I think heat map is not a good idea to present this data, as there is only one condition. Without showing repeat samples, it will simply be a heat map of one column (pretty much defeats the purpose of a heat map.)
I leave the code here just for my future reference.

In [27]:
test_plot=df.iloc[:10,[2,4,5,6,7,8,9]]

In [28]:
test_plot

  Gene Symbol    WT-1    WT-2    WT-3   185-1   185-2   185-3
0        dnaA   95.68   68.16   33.52   12.22   13.38   14.04
1         NaN   91.89   65.97   34.76    7.39   13.24    7.93
2         NaN   31.74   23.39   12.33    6.55    7.83   12.05
3        recF   21.31   13.09    9.20    1.22    0.00    1.12
4         NaN  221.06  242.11  267.31  103.35   82.30  130.65
5        gyrB  504.81  540.53  503.43  397.22  354.17  384.61
6         NaN  131.89  193.19  180.62   94.27   75.07   96.30
7         NaN  173.67  207.32  209.70  233.88  176.93  230.78
8         NaN  110.78  168.52   97.56   55.85   50.83   97.81
9         NaN  168.44  225.44  306.47  129.97  122.45  144.73

In [ ]:
gene_names=list(test_plot.iloc[:,0])

In [ ]:
# some exercise for making a heat map in ipython notebook. In this data set, as there is only one condition, 
# it is better to simply present data as fold change instead of showing the heatmap

cdict1 = {'red':   ((0.0, 0.0, 0.0),
                   (0.5, 0.0, 0.0),
                   (1.0, 1.0, 1.0)),

         'green': ((0.0, 1.0, 1.0),
                   (0.5, 0.0, 0.0),
                   (1.0, 0.0, 0.0)),

         'blue':  ((0.0, 0.0, 0.0),
                   (0.5, 0.0, 0.0),
                   (1.0, 0.0, 0.0))
        }
green_red=LinearSegmentedColormap('green_red',cdict1)
fig=plt.figure(figsize=(10,5))
plt.imshow(test_plot.iloc[:,1:],cmap=green_red)
plt.colorbar()
plt.grid(False)
ax=fig.gca()
ax.set_yticklabels(gene_names)
ax.tick_params(labelsize=20)
ax.set_yticks(range(10))
ax.set_xticks(range(6))